
<div class="row">

    <div class="col-md-12">

<div class="jumbotron" id="Header">

  <h1 class="text-center"><span class="glyphicon glyphicon-fire"></span>EAT-DA-BURGER</h1>
</div>

    </div>
</div>

<div class="row">

    <div class="col-md-6">

<div class="card" id="toEat">
  <div class="card-header" id="toEatHeader">
      
    <h2>Burgers to eat!</h2>
  </div>
    <div class="card-body">

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

    </div>
</div>

    </div>

    <div class="col-md-6">


<div class="card" id="Eaten">
  <div class="card-header" id="EatenHeader">
    <h2>Eaten Burgers!</h2>  </div>
  <div class="card-body">

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

    </div>
</div>

    </div>

</div>

<div class="card" id="addBurg">
  <div class="card-header" id="addBurgHeader">
    <h2>Add a Burger!</h2>  </div>
  <div class="card-body">

<form class="create-form">

  <div class="form-group">
    <label for="burg">New Burger:</label>
    <input type="text" class="form-control" id="burg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

    </div>
</div>