li {
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  #daBody {
      background-color: #f6a760;
  }
  
  #toEat {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #86b24f;
  }

  #toEatHeader {
    background-color: #95b46f;
  }

  #Eaten {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f2c338;
  }

  #EatenHeader {
    background-color: #e6ca78;
  }

  #Header {
      margin-top: 10px;
      background-color: #d9534f;
  }

  #addBurg {
    background-color: #e7a39e;
  }

  #addBurgHeader {
    background-color: #e9c4c2;
  }